---
export interface Props {
	body: string;
	image: string;
}

const { image, body } = Astro.props;
---

<article class="bg-navy/5 p-4 rounded-lg flex-col justify-between" data-aos="fade-in">
	<img src={image} alt="" class="h-[16px] mb-4" />
	<p class="text-navy/80">{body}</p>
</article>