<footer class="border-t">
  <div class="max-w-screen-xl w-full mx-auto px-4 py-16">
    <div class="flex flex-col items-center space-y-4">
      <img src="/assets/logo.svg" alt="" class="h-[24px] mb-4" />
      <p class="text-center">Descubre y conoce más de nosotros en nuestras redes sociales:</p>
      <nav class="flex gap-8 flex-col md:flex-row text-center">
        <a class="inline-block text-2xl font-medium font-display hover:underline" href="#">Twitter</a>
        <a class="inline-block text-2xl font-medium font-display hover:underline" href="#">Facebook</a>
        <a class="inline-block text-2xl font-medium font-display hover:underline" href="#">Instagram</a>
        <a class="inline-block text-2xl font-medium font-display hover:underline" href="#">Linkedin</a>
        <a class="inline-block text-2xl font-medium font-display hover:underline" href="#">Youtube</a>
      </nav>
      <small class="block text-center">
        En briq.mx ofrecemos igualdad de oportunidades laborales para todas las personas, independientemente de su origen, raza, género, orientación sexual, religión, o discapacidad. La empresa valora la diversidad y se esfuerza por crear un ambiente de trabajo inclusivo para todos sus colaboradores.
      </small>
    </div>
  </div>
</footer>